*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #151515;
  background-color: #f0f0f0;
}

section {
  padding-top: 80px;
}

.section-name {
  border-top: 1px solid #000;
  padding: 24px 19px;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.85;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: -0.09em;
  margin-bottom: 20px;
  max-width: 269px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  padding: 0 16px;
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 32px;
  }
  section {
    padding-top: 120px;
  }

  .section-title {
    font-size: 60px;
    line-height: normal;
    letter-spacing: -3px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }

  section {
    padding-top: 200px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: 2560px;
    padding: 0 524px;
  }
}

.fixed-position {
  overflow: hidden;
}

/* Header */

.header .container {
  padding-top: 20px;
}

.header-logo {
  display: block;
}

.logo-icon {
  width: 52px;
  height: 52px;
}
.hamburger-menu-icon {
  width: 52px;
  height: 52px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-mobmenu-btn {
  border: none;
  background-color: transparent;
}

.header-nav-menu {
  display: none;
}

.header-auth-wrapper {
  display: none;
}

/* Adaptive for 1024 */

@media screen and (min-width: 1024px) {
  .header .container {
    padding-top: 32px;
    justify-content: flex-start;
    display: flex;
    justify-content: space-between;
  }
  .header-mobmenu-btn {
    display: none;
  }

  .header-nav-bar {
    display: flex;
    gap: 20px;
  }

  .header-nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-menu-link {
    color: #151515;
    text-align: center;
    line-height: 1.33;
    padding: 14px 20px;
  }

  .header-auth-wrapper {
    display: block;
  }

  .login {
    margin-right: 40px;
  }
}

/* Adaptive for 1440 */

@media screen and (min-width: 1440px) {
  .header .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .header .container {
    padding-left: 524px;
    padding-right: 524px;
  }
}

/* ============ */

/* Mob menu */
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 72px 16px 40px 16px;
  height: 100%;
}
.mob-menu .modal-close-btn {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 30px;
  right: -10px;
}

.modal-close-icon {
  fill: transparent;
  stroke: #151515;
  width: 32px;
  height: 32px;
}

.mob-navigation-menu {
  margin-bottom: auto;
  margin-top: auto;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  color: #151515;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover {
  color: #15151563;
}

.mob-btn-wrapper {
  margin-bottom: 40px;
}

.btn {
  padding: 14px 20px;
  text-align: center;
  line-height: 1.33;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  /* background-color: rgb(25, 44, 151); */
  border-radius: 4px;
}

.btn:active {
  transform: scale(0.99);
}

.login {
  background: #fff;
  margin-right: 20px;
}
.sign-up {
  background: #151515;
  color: #fff;
}

/* ============ */

/* ================ */

/* Main */

/* Hero */
.hero {
  padding-top: 40px;
}

.hero-title {
  max-width: 328px;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.055em;
  margin-bottom: 20px;
}

.hero-description {
  max-width: 328px;
  line-height: 1.44;
  margin-bottom: 40px;
}

.hero-picture {
  display: none;
}

.subscription-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 60px;
}

.email {
  padding: 14px 16px;
  border: none;
  max-width: 184px;
}

.email::placeholder {
  color: #151515;
  font-family: "Neue Machina";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.get-started-btn {
  display: inline-flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #151515;
  border: none;
  max-width: 144px;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.get-started-btn:hover {
  /* background-color: rgb(25, 44, 151); */
  border-radius: 4px;
}

.get-started-btn:active {
  transform: scale(0.99);
}

.supported-payments-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

/* Adaptive for 1024px */

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 120px;
  }
  .hero .container {
    display: flex;
    padding-right: 0;
    position: relative;
  }

  .hero-title {
    font-size: 70px;
    line-height: normal;
    max-width: 619px;
  }

  .hero-description {
    max-width: 565px;
  }

  .hero-picture {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .subscription-wrapper {
    max-width: 505px;
    margin-bottom: 80px;
  }

  .email {
    min-width: 361px;
  }
  .supported-payments-list {
    justify-content: flex-start;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .hero .container {
    padding-left: 90px;
    padding-right: 40px;
  }
  .hero-title {
    max-width: 721px;
    letter-spacing: -0.04em;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .hero .container {
    padding-left: 524px;
    padding-right: 524px;
    gap: 241px;
  }

  .hero-picture {
    position: relative;
    z-index: 1;
  }
}

/* About us */

.about-us .section-title {
  margin-bottom: 20px;
  letter-spacing: -0.11em;
  max-width: 311px;
}
.about-us-description {
  line-height: 1.44;
  max-width: 328px;
  margin-bottom: 40px;
}

.about-us-picture {
  display: block;
  margin-bottom: 40px;
}

.about-us-list {
  list-style-type: square;
  padding-left: 16px;
}

.about-us-list-item:not(:last-of-type) {
  margin-bottom: 24px;
}
.list-item-text {
  font-size: 20px;
  line-height: 1.4;
}
.desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .about-us-picture {
    display: none;
  }
  .desktop {
    display: block;
  }

  .about-us .container {
    display: flex;
  }

  .about-us .section-title {
    max-width: 464px;
  }

  .about-us-description {
    max-width: 529px;
    margin-bottom: 60px;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .about-us .container {
    padding-left: 0;
    padding-right: 70px;
  }
  .about-us .section-title {
    max-width: 750px;
    letter-spacing: -0.05em;
  }
  .about-us-description {
    max-width: 712px;
  }

  .about-us-picture {
    margin-right: 40px;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .about-us .container {
    padding-left: 524px;
    padding-right: 524px;
  }
  .about-us-picture {
    margin-right: 188px;
  }
}

/* ============ */

/* How it works */

.how-it-works .section-title {
  margin-bottom: 60px;
  max-width: 269px;
}

.how-it-works-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.how-it-works-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.works-list-img {
  margin-bottom: 20px;
}
.works-item-title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 330px;
}
.works-item-text {
  line-height: 1.44;
  max-width: 328px;
}

.how-it-works-picture.desktop {
  display: none;
}

/* Adaptive 1024 */

@media screen and (min-width: 1024px) {
  .how-it-works-picture {
    display: none;
  }
  .how-it-works-picture.desktop {
    display: block;
  }

  .how-it-works .container {
    display: flex;
  }

  .how-it-works .section-title {
    max-width: 398px;
  }

  .how-it-works-list {
    gap: 48px;
  }
  .works-list-item {
    display: flex;
    gap: 28px;
    align-items: flex-start;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .how-it-works .container {
    padding-right: 90px;
  }
  .how-it-works .section-title {
    max-width: 659px;
  }

  .how-it-works-content-wrapper {
    margin-right: 120px;
  }

  .works-item-text {
    max-width: 499px;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .how-it-works .container {
    padding-right: 524px;
  }
  .how-it-works-content-wrapper {
    margin-right: 363px;
  }
}

/* ============ */

/* Pricing */

.pricing .section-title {
  max-width: 266px;
}

.pricing-description {
  max-width: 328px;
  line-height: 1.44;
}

.pricing-picture.desktop {
  display: none;
}

.pricing-picture {
  display: block;
  margin-bottom: 40px;
}

.pricing-plans-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pricing-list-plan {
  max-width: 328px;
  border: 1px solid #151515;
  background: #f0f0f0;
}

.pricing-list-plan p {
  line-height: 1.55;
}

.pricing-plan-title-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.dollar-sign {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.pricing-plan-title {
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.05em;
  margin-right: 12px;
}

.per-month {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  max-width: 16px;
  max-height: 28px;
  align-self: flex-end;
}
.pricing-plan-description {
  font-size: 20px;
  line-height: 1.4;
  max-width: 203px;
  margin-bottom: 60px;
}
.pricing-plan-features-list {
  list-style-type: square;
  padding-left: 20px;
  margin-bottom: 153px;
}

.pricing-plan-features-list li:not(:last-of-type) {
  margin-bottom: 24px;
}

.pricing-list-plan {
  padding: 50px 40px 40px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #151515;
  background: #f0f0f0;
}

.pricing-list-plan:nth-of-type(2) {
  background-color: #151515;
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .dollar-sign {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-title {
  color: #fff;
}
.pricing-list-plan:nth-of-type(2) .per-month {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-description {
  color: #fff;
  max-width: 125px;
  letter-spacing: -0.04em;
}

.pricing-list-plan:nth-of-type(2) p {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-features-list {
  margin-bottom: 49px;
}

.pricing-list-plan:nth-of-type(2) .pricing-join-btn {
  background-color: #fff;
  color: #151515;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pricing-list-plan:nth-of-type(2) .pricing-join-btn:hover {
  /* background-color: rgb(25, 44, 151); */
  /* color: #fff; */
  border-radius: 4px;
}

.pricing-list-plan:nth-of-type(3) .pricing-plan-features-list {
  margin-bottom: 49px;
}

.pricing-join-btn {
  background-color: #151515;
  border: none;
  padding: 14px 36px;
  min-width: 248px;
  align-self: center;
  /* font-weight: 600; */
  font-size: 18px;

  color: #fff;
  text-align: center;
  line-height: 1.33;
  /* transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pricing-join-btn:hover {
  /* background-color: rgb(25, 44, 151); */
  border-radius: 4px;
}

/* Adaptive 1024 */

@media screen and (min-width: 1024px) {
  .pricing-picture.desktop {
    display: block;
  }
  .pricing-picture {
    display: none;
  }

  .pricing-top-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
  }
  .pricing-top-part .pricing-top-part-content {
    display: flex;
    flex-direction: column;
  }

  .pricing .section-name {
    text-align: right;
  }

  .pricing .section-title {
    max-width: 396px;
    text-align: right;
    align-self: flex-end;
  }

  .pricing-description {
    max-width: 496px;
    text-align: right;
  }
  .pricing-picture {
    margin-bottom: 0;
  }

  .pricing-plans-list {
    flex-direction: row;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .pricing .section-title {
    max-width: 739px;
  }
  .pricing-description {
    align-self: flex-end;
  }
  .pricing-top-part {
    margin-bottom: 60px;
  }
  .pricing-plans-list {
    gap: 40px;
  }
  .pricing-list-plan {
    min-width: 400px;
    padding: 50px 40px;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .pricing-top-part {
    margin-bottom: 62px;
  }
  .pricing-plans-list {
    gap: 102px;
  }
}

/* ============ */

/* FAQs section */

.faqs {
  padding-bottom: 80px;
}

.faqs .section-title {
  margin-bottom: 20px;
  max-width: 188px;
}
.faqs-description {
  max-width: 320px;
  line-height: 1.44;
  margin-bottom: 40px;
}

.faqs-picture {
  display: block;
  margin-bottom: 40px;
}

.faqs-picture.desktop {
  display: none;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faqs-item {
  max-width: 328px;
  cursor: pointer;
}
.faqs-item:not(:first-of-type) {
  border-top: 1px solid #151515;
  padding-top: 20px;
}
.faqs-item-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.faqs-item-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}

.show-more-btn {
  border: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../img/icons/plus-icon.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-more-btn.is-active {
  background-image: url("../img/icons/minus-icon.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
}

.faqs-item-answer {
  line-height: 1.44;
  max-width: 320px;

  max-height: 0;
  overflow: hidden;

  transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    margin-top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faqs-item-answer.is-active {
  margin-top: 20px;
}
.dot {
  display: block;
}

/* Adaptive 1024 */

@media screen and (min-width: 1024px) {
  .faqs {
    padding-bottom: 120px;
  }

  .faqs-picture.desktop {
    display: block;
  }
  .faqs-picture {
    display: none;
  }

  .faqs .container {
    display: flex;
  }

  .faqs .section-title {
    max-width: 554px;
    letter-spacing: -4px;
  }
  .dot {
    display: inline;
  }

  .faqs-description {
    max-width: 532px;
    margin-bottom: 60px;
  }

  .faqs-item {
    max-width: 700px;
  }

  .faqs-item-answer {
    max-width: 660px;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .faqs {
    padding-bottom: 200px;
  }
  .faqs .container {
    padding-right: 40px;
  }

  .faqs-item {
    min-width: 840px;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .faqs .container {
    padding-right: 524px;
  }
  .faqs-content-wrapper {
    margin-right: 72px;
  }
}

/* ============ */

/* ================ */

/* Footer */
.footer {
  background-color: #151515;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer .container {
  padding: 0 20px;
}

.footer-logo {
  margin-bottom: 40px;
  display: block;
}

.footer-title {
  color: #fff;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  max-width: 299px;
}

.footer .subscription-wrapper {
  margin-bottom: 60px;
}

.footer .email {
  background: #fff;
}

.footer .get-started-btn {
  border: 1px solid #ffffff7a;
  background: #151515;
  color: #ffffffaa;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .get-started-btn:hover {
  border-color: #fff;
  color: #fff;
}

.footer-nav {
  margin-bottom: 60px;
}

.footer-menu,
.footer-customer-actions,
.footer-email {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-menu-link,
.footer-customer-link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
}

.footer-customer-actions {
  margin-bottom: 60px;
}

.footer-email {
  margin-bottom: 60px;
}

.footer-email-title {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.footer-email-link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
}
.footer-contacts {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.terms,
.terms a {
  color: #fff;
  text-align: center;
  line-height: 1.44;
  max-width: 175px;
  margin: 0 auto;
}

/* Adaptive 1024 */

@media screen and (min-width: 1024px) {
  .footer .container {
    padding: 0 32px;
  }
  .footer-top-part {
    display: flex;
    margin-bottom: 72px;
  }

  .footer-title {
    font-size: 52px;
    line-height: 1.15;
    letter-spacing: -4px;
    max-width: 444px;
    margin-bottom: 32px;
  }

  .left-part {
    margin-right: 75px;
  }
  .right-part {
    display: flex;
    column-gap: 80px;
    row-gap: 60px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .footer .subscription-wrapper {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
    text-align: center;
  }
  .footer-menu {
    align-items: flex-start;
  }

  .footer-customer-actions {
    max-width: 203px;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-customer-item {
    text-align: left;
  }
  .footer-customer-link {
    letter-spacing: -0.028em;
  }

  .footer-menu-link {
    padding: 0;
  }

  .footer-email {
    align-items: flex-start;
    margin-bottom: 0;
    min-width: 203px;
  }

  .bottom-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .terms {
    margin: 0;
    max-width: 341px;
  }
  .footer-contacts {
    margin-bottom: 0;
    gap: 20px;
  }
}

/* Adaptive 1440 */

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 34px;
  }

  .footer .container {
    padding: 0 80px;
  }

  .footer-top-part {
    margin-bottom: 155px;
  }

  .left-part {
    margin-right: 100px;
  }

  .right-part {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 87px;
  }

  .footer-customer-actions {
    order: -1;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .footer-email {
    align-self: flex-start;
  }
}

/* Adaptive 2560 */

@media screen and (min-width: 2560px) {
  .footer .container {
    padding-left: 524px;
    padding-right: 524px;
  }
  .left-part {
    margin-right: 332px;
  }
}

/* ================ */

/* Modal auth */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 16px 16px;
  min-width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.close-modal-auth-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.login-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.login-form {
}
.login-email-wrapper {
}
.login-password-wrapper {
}

.is-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
