*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #151515;
  background-color: #f0f0f0;
}

section {
  padding-top: 80px;
}

.section-name {
  border: 1px solid #000;
  max-width: 160px;
  padding: 6px 19px;

  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.85;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: -0.09em;
  margin-bottom: 60px;
  max-width: 269px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  padding: 0 16px;
  max-width: 360px;
  margin: 0 auto;
}

/* Header */

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header-logo {
  display: block;
}

.logo-icon {
  width: 52px;
  height: 52px;
}
.hamburger-menu-icon {
  width: 52px;
  height: 52px;
}

.header-mobmenu-btn {
  border: none;
  background-color: transparent;
}

/* ================ */

/* Main */

/* Hero */
.hero {
  padding-top: 40px;
}

.hero-title {
  max-width: 328px;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.055em;
  margin-bottom: 20px;
}

.hero-description {
  max-width: 328px;
  line-height: 1.44;
  margin-bottom: 40px;
}

.subscription-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 60px;
}

.email {
  padding: 14px 16px;
  max-width: 328px;
  border: none;
}

.email::placeholder {
  color: #151515;
  font-family: "Neue Machina";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

.get-started-btn {
  display: inline-flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #151515;
  border: none;
  max-width: 144px;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
.supported-payments-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

/* ============ */

/* About us */

.about-us .section-title {
  margin-bottom: 20px;
  letter-spacing: -0.11em;
  max-width: 311px;
}
.about-us-description {
  line-height: 1.44;
  max-width: 328px;
  margin-bottom: 40px;
}

.about-us-picture {
  display: block;
  margin-bottom: 40px;
}

.about-us-list {
  list-style-type: square;
  padding-left: 16px;
}

.about-us-list-item:not(:last-of-type) {
  margin-bottom: 24px;
}
.list-item-text {
  font-size: 20px;
  line-height: 1.4;
}

/* ============ */

/* How it works */

.how-it-works .section-title {
  margin-bottom: 60px;
  max-width: 269px;
}

.how-it-works-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.how-it-works-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.works-list-img {
  margin-bottom: 20px;
}
.works-item-title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 330px;
}
.works-item-text {
  line-height: 1.44;
  max-width: 328px;
}

/* ============ */

/* Pricing */

.pricing .section-title {
  margin-bottom: 25px;
  max-width: 266px;
}

.pricing-description {
  max-width: 328px;
  line-height: 1.44;
}

.pricing-picture {
  display: block;
  margin-bottom: 40px;
}

.pricing-plans-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pricing-list-plan {
  max-width: 328px;
  border: 1px solid #151515;
  background: #f0f0f0;
}

.pricing-list-plan p {
  line-height: 1.55;
}

.pricing-plan-title-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.dollar-sign {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.pricing-plan-title {
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.05em;
  margin-right: 12px;
}

.per-month {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  max-width: 16px;
  max-height: 28px;
  align-self: flex-end;
}
.pricing-plan-description {
  font-size: 20px;
  line-height: 1.4;
  max-width: 203px;
  margin-bottom: 60px;
}
.pricing-plan-features-list {
  list-style-type: square;
  padding-left: 20px;
  margin-bottom: 153px;
}

.pricing-plan-features-list li:not(:last-of-type) {
  margin-bottom: 24px;
}

.pricing-list-plan {
  padding: 50px 40px 40px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #151515;
  background: #f0f0f0;
}

.pricing-list-plan:nth-of-type(2) {
  background-color: #151515;
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .dollar-sign {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-title {
  color: #fff;
}
.pricing-list-plan:nth-of-type(2) .per-month {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-description {
  color: #fff;
  max-width: 125px;
  letter-spacing: -0.04em;
}

.pricing-list-plan:nth-of-type(2) p {
  color: #fff;
}

.pricing-list-plan:nth-of-type(2) .pricing-plan-features-list {
  margin-bottom: 29px;
}

.pricing-list-plan:nth-of-type(2) .pricing-join-btn {
  background-color: #fff;
  color: #151515;
}

.pricing-list-plan:nth-of-type(3) .pricing-plan-features-list {
  margin-bottom: 49px;
}

.pricing-join-btn {
  background-color: #151515;
  border: none;
  padding: 14px 36px;
  min-width: 248px;
  align-self: center;

  color: #fff;
  text-align: center;
  line-height: 1.33;
}

/* ============ */

/* ================ */
